<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
  <!-- <link rel="stylesheet" href="../public/css/custom.css" type="text/css" /> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="<KEY>" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
</head>
 

<body style="background-color: #D1D5DB; padding: 0px; margin:0px;">
  <nav style=" background-color: #192130; display: flex; text-align: center; align-items: center; justify-content: center; color: white; font-size: 20px; height: 75px; width: 100%;">Your Recipes</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3" style="margin-top: 75px;">
        <form action="/api/users" method="post" class="form-inline" id="user">
          <div class="form-group mx-sm-3">
            <input type="text" class="form-control" placeholder="Your Recipes - username" id="newItem"> 
          </div>
          <button type="submit" class="btn btn-secondary" style="color: white">Login</button>
        </form>
      </div>
      <% cards.forEach(function(card) { %>
<div class="col-4" style="margin-top: 50px; margin-right: 120px;margin-left: 70px;">
    <div class="card" style="width:400px">
        <img src="<%= card.images %>" class="card-img-top" style="height: 300px; width: 400px;" alt="...">
        <div class="card-body">
            <h5 class="card-title"><%= card.title %></h5>
            <ul class="list-group list-group-flush" id="todo">
                <% card.ingredients.forEach(function(ingredient) { %>
                    <li class="list-group-item"><%= ingredient %></li>
                <% }); %>
            </ul>
        </div>
        <div class="card-body">
          <p class="card-text"><%= card.directions %></p>
          <form action="/api/comments" method="get" class="form-inline" id="comments">
            <button type="submit" class="btn btn-secondary" style="color: white">Comments</button>
          </form>
          
        </div>
    </div>
</div>
<% }); %>

    </div>
  </div>
  <%- include('partials/scripts') %>  
</body>
</html>



